:root{
    --branco:white;
    --preto:#333333;
    --cinza-escuro:#464646;
    --cinza-claro:#A3A3A3;
    --amarelo:#FFB050;
    --azul:#4894FF;
    --branco-cinza:#F6F6F6;
}


body{
    font-family: 'Montserrat', sans-serif;

}
section{
    background-color:var(--branco-cinza)}