
.titulo__dia{
    padding: 8px 0;

    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 16px;

}

.section__dia{
    padding: 0 16px 16px 16px;

}

.foto-outros{
    border-radius: 50%;

    margin: 16px;

    width: 32px;
    height: 32px;
    left: 32px;
}
.caixa__consulta{
    border-radius: 8px;
    background-color: var(--branco);
    padding-bottom: 16px;
    margin: 16px 0;

}

.caixa-texto__consulta{
    padding-top: 10px;

}

.consulta{
    display: flex;
    border-bottom: 1px solid var(--branco-cinza);
}

.Nome{
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
}

.tipo__consulta{
    color: var(--cinza-claro);
    font-size: 12px;
    margin-bottom: 15px;
}
.item-tipo__consulta{
    margin-right: 8px;
    margin-top: 5px;
}

.chat{
    margin: 25px 25px auto auto;

}
.botoes__consulta{
    border-radius: 8px;
    padding: 13px 16px;
    background-color: var(--branco);

}
.horario__consulta{
    color: var(--cinza-escuro);
    font-size: 12px;
    margin-bottom: 21px;
}

.botao__video{
    padding: 13px 16px;
    
    color: var(--branco);
    font-size: 14px;

    background-color: var(--amarelo);
    border-radius: 8px;
}
.botao__audio{
    padding: 13px 16px;
    margin-left: 15px;

    color: var(--cinza-escuro);
    font-size: 14px;

    border: 1px solid #ECECEC;
    border-radius: 8px;
}



